.block {
    --padding-vertical: 5rem;
    padding: var(--padding-vertical) 2rem;
}

.block-style-two {
    --padding-vertical: 2rem;
    padding: var(--padding-vertical) 2rem;
}

.block__header {
    text-align: center;
    margin-bottom: 0.2rem;
}

.block-header-two {
    text-align: center;
    margin-bottom: 6rem;
}

div.container.container_margin.grid.grid--1x2{
    margin-top: 100px;   
}
    
h1.block__styling {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 97.2%;
    letter-spacing: -0.03em;
    margin: 0;
    color: var(--color-main-black);
}

.sub-block-style {
    margin-top: 70px;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 117%;
    color: #606060;
}

.align-header-block {
    text-align: center;
    margin-bottom: -2rem;
}

.align-header-block-style-one {
    text-align: center;
    margin-bottom: 6rem;
}

.align-header-block-type-two {
    text-align: center;
    margin-bottom: -6rem;
}

.block--dark {
    background: #28282B;
    color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
    color: #fff;
}

.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}
    
@media screen and (min-width: 768px) {
    .sub-block-style {
        margin-top: 70px;
        margin-left: 10px;
        text-align: left;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 117%;
        margin-left: calc(50% - 680px/1.5 + 96px);
        letter-spacing: -0.03em;
        color: #606060;
        padding: 0;
    }

    .block-style-two {
        --padding-vertical: 5rem;
        padding: var(--padding-vertical) 2rem;
    }

    .align-header-block {
        margin-bottom: 6rem;
    }
}