a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow {
    color: var(--color-main-black);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow-style-b {
    color: var(--color-main-black);
    font-size: 7rem;
    display: inline-block;
    margin-top: 30px;
    margin-left: 40%;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.text-link {
    display: none;
}

.link-arrow-style-b::after {
    content: '\2193';  
}

.link-arrow:hover::after {
    margin-left: 10px;
}

.link-arrow-style-b:hover {
    margin-top: 60px;
    transition: margin .5s ease;
}

@media screen and (min-width: 768px) {
    .link-arrow-style-b {
        margin-left: 0%;
      }

    .text-link {
        display: block;
    }
}
