.testimonial {
    padding: 3rem;
}

.testimonial-style-one {
    padding-left: 2rem;
}
  
.testimonial .quote {
    margin: 2rem 0;
    font-size: 110%;
}
  
.testimonial-image {
    position: relative;
}

.sub-testimonial-image {
    position: relative;
    margin-top: 0.5rem;
    width: 35%;
    margin-left: 30%;
}
  
.testimonial-image > .icon-container {
    position: absolute;
    top: 3rem;
    right: -32px;
}
  
@media screen and (min-width: 768px) {
    .testimonial-image {
      margin: 0;
    }
    
    .sub-testimonial-image {
        margin-left: 15rem;
    }

    .testimonial .quote {
      margin: 5rem 0 0 6rem;
      font-size: 120%;
      line-height: 1.5;
    }
}
  