.testimonial {
    padding: 3rem;
}

.testimonial-style-one {
    padding-right: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.darkmode--activated .testimonial-style-one{
    color: rgba(255, 255, 255, 0.857);
}
  
.testimonial .quote {
    margin: 2rem 0;
    font-size: 110%;
}
  
.testimonial-image {
    position: relative;
}

.sub-testimonial-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    filter: grayscale(20%);  
}
  
.testimonial-image > .icon-container {

    top: 3rem;
    right: -32px;
}

.keypoints {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.0rem;
    padding: 10px;
    color: #5c5a64;
    line-height: 1.5;
    background-color: #fff;
}

.darkmode--activated .keypoints{
    color: rgba(255, 255, 255, 0.766);
    background-color: #000;
}
  
@media screen and (min-width: 768px) {
    .testimonial-image {
      margin: 0;
      width: 60%;
      border-radius: 200px;
      margin-left: 70px;
      padding-top: 20px;
      filter: grayscale(30%);  
    }


    .testimonial .quote {
      margin: 5rem 0 0 6rem;
      font-size: 120%;
      line-height: 1.5;
    }

    .keypoints {
        font-size: 1.8rem;
        padding: 0;
    }

    .testimonial-style-one {
        padding-right: 0rem;
        padding-top: 0rem;
        padding-left: 2rem;
        padding-bottom: 0rem;
        text-align: left;
    }
}